.Mission {
  background-color: rgb(122, 61, 179);
}

.ul {
  background-color: #812929;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 100%;
  min-height: 10%;
  color: white;
  font-family: Arial;
  text-align: center;
}

.w3-third {
  border-style: dashed;
  border-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  list-style: none;
}
