<!DOCTYPE html>
<html lang="en">

<head> 
 <title > Organization Page </title>
 <meta charset="UTF-8"/>
 <link rel="stylesheet" href="format.css"/> 
 <script src="script.js"></script>
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>

<body onload="alarm()">

<header> 
    <h1 style=" text-align: center; font-size:80px;""> Organizations </h1>
  
    <br>

    <nav>
      <ul>
        <li> <a href="">Home</a></li>>
        <li> <a href="">Project</a></li> 
        <li> <a href="">Contact</a> </li> 
        <li> <a href="">Donate</a></li>
        <li> <a href="">To Website</a></li>
        <div class="search"> 
          <input type="search" placeholder="Search..."> 
        </div>
      </ul>
    </nav>

  </header>

  <div>
    <h1 element class="content"> About </h1> 

    <p style="font-size: 25px; color: black; padding: 20px;"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident sit hic, officiis nam laudantium molestiae omnis magnam, exercitationem odio ducimus, possimus ea mollitia dolorem velit! Quasi explicabo maiores fugit at! Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio distinctio eaque fugit quisquam tempore, atque illum esse facilis repellendus deserunt, quos excepturi tempora voluptate debitis doloribus, quaerat nam a eos!
    </p>

  </div>

 <div class="row">

    <div class="column" >

        <h1 element class="content"> Toy Drive </h1>
        <p style="font-size: 25px; color: black"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam deserunt itaque commodi sit quasi voluptatum adipisci ipsa ad fugiat iste, porro vel officia neque natus distinctio labore accusantium soluta sequi?</p>
        <img style="padding: 20px 20px;" src="toyDrive.jpg" alt="Toy IMG" height="285px" >
        <div >
        <button class="button"> Donate </button>
        <button class="button"> Finanical Info </button>
        </div>

        <br>

       <h1 element class="content"> Food Drive </h1>
       <p style="font-size: 25px; color: black"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero, doloribus et cum asperiores at magni laudantium vitae blanditiis in deserunt aliquid, itaque veniam quam quae quidem! Error rerum eveniet recusandae.</p>
       <img src="food.jpg" alt="food" element id="rotate">
       <br>
       <div >
        <button class="button"> Donate </button>
        <button class="button"> Finanical Info </button>
        </div>

    </div>

    <div element class="column" >
        <h1 element class="content">Renovation</h1>
        <p style="font-size: 25px; color: black"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, id, perferendis recusandae amet eligendi facilis assumenda consequuntur quae doloribus beatae non! Ex vitae vel sint id porro. Repellendus, nobis maiores!</p>
        <img src="reno.jpg" alt="Picture" element id="rotate">
        <br>
       <div >
        <button class="button"> Donate </button>
        <button class="button"> Finanical Info </button>
        </div>

        <br>

        <h1 element class="content">Community Service</h1>
        <p style="font-size: 25px; color: black"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi reprehenderit vitae velit. Facilis eos repudiandae iste, atque assumenda porro veniam, consequatur deserunt saepe quam, voluptatibus sit aut culpa magni ipsam? </p>
        <img src="serve.jpg" alt="IMG" element id="rotate">
        <br>
       <div >
        <button class="button"> Donate </button>
        <button class="button"> Finanical Info </button>
        </div>


    </div>

    <div element class="column" >
       <h1 element class="content">Foundation</h1>
        <p style="font-size: 25px; color: black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas eligendi nesciunt laborum iure voluptatibus veritatis, eos magni omnis iusto corporis rerum culpa quod itaque aperiam dicta. Dignissimos dolores quisquam veritatis!</p>
        <img src="money.jpg" alt="IMG" element id="rotate">
        <br>
       <div >
        <button class="button"> Donate </button>
        <button class="button"> Finanical Info </button>
        </div>

        <br>

       <h1 element class="content">Bail Fund</h1>
       <p style="font-size: 25px; color: black"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor voluptas quisquam debitis aspernatur consectetur, quaerat modi atque quod officiis et temporibus dolorem a impedit totam voluptate. A praesentium illo beatae! </p>
       <img src="bail.png" alt="IMG" element id="rotate">
       <br>
       <div >
        <button class="button"> Donate </button>
        <button class="button"> Finanical Info </button>
        </div>
    </div>

  </div>

  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
    <p>Lets get in touch and talk about your next project.</p>
    <form action="/action_page.php" target="_blank">
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
  </div>
  
<!-- Payment -->
  <div class="w3-container w3-padding-32" id="payment">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Payment</h3>
    <p>Donate Today! </p>
    <div class="container">
    <br>  
 
    <div class="row">

    <article class="card">
    <div class="card-body p-5">

    <ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#nav-tab-card">
            <i class="fa fa-credit-card"></i> Credit Card</a></li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#nav-tab-paypal">
            <i class="fab fa-paypal"></i>  Paypal</a></li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#nav-tab-bank">
            <i class="fa fa-university"></i>  Bank Transfer</a></li>
    </ul>

    <div class="tab-content">
    <div class="tab-pane fade show active" id="nav-tab-card">
        <p class="alert alert-success">Some text success or error</p>
        <form role="form">
        <div class="form-group">
            <label for="username">Full name (on the card)</label>
            <input type="text" class="form-control" name="username" placeholder="" required="">
        </div> <!-- form-group.// -->

        <div class="form-group">
            <label for="cardNumber">Card number</label>
            <div class="input-group">
                <input type="text" class="form-control" name="cardNumber" placeholder="">
                <div class="input-group-append">
                    <span class="input-group-text text-muted">
                        <i class="fab fa-cc-visa"></i>   <i class="fab fa-cc-amex"></i>   
                        <i class="fab fa-cc-mastercard"></i> 
                    </span>
                </div>
            </div>
        </div> <!-- form-group.// -->

        <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <label><span class="hidden-xs">Expiration</span> </label>
                <div class="form-inline">
                    <select class="form-control" style="width:45%">
                      <option>MM</option>
                      <option>01 - Janurary</option>
                      <option>02 - February</option>
                      <option>03 - March</option>
                      <option>04 - April</option>
                      <option>05 - May</option>
                      <option>06 - June</option>
                      <option>07 - July</option>
                      <option>08 - August</option>
                      <option>09 - September</option>
                      <option>10 - October</option>
                      <option>11 - November</option>
                      <option>12 - December</option>
                    </select>
                    <span style="width:10%; text-align: center"> / </span>
                    <select class="form-control" style="width:45%">
                      <option>YY</option>
                      <option>2017</option>
                      <option>2018</option>
                      <option>2019</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card">CVV <i class="fa fa-question-circle"></i></label>
                <input class="form-control" required="" type="text">
            </div> <!-- form-group.// -->
        </div>
        </div> <!-- row.// -->
        <button class="subscribe btn btn-primary btn-block" type="button"> Confirm  </button>
        </form>
    </div> <!-- tab-pane.// -->
    <div class="tab-pane fade" id="nav-tab-paypal">
    <p>Paypal is easiest way to pay online</p>
    <p>
    <button type="button" class="btn btn-primary"> <i class="fab fa-paypal"></i> Log in my Paypal </button>
    </p>
    <p><strong>Note:</strong> Paypal is not responsible for any third-party payment transactions </p>
    </div>
    <div class="tab-pane fade" id="nav-tab-bank">
    <p>Bank account details</p>
    <dl class="param">
      <dt>BANK: </dt>
      <dd> THE WORLD BANK</dd>
    </dl>
    <dl class="param">
      <dt>Account number: </dt>
      <dd> 12345678912345</dd>
    </dl>
    <dl class="param">
      <dt>IBAN: </dt>
      <dd> 123456789</dd>
    </dl>
    <p><strong>Note:</strong> Your bank is not responsible.... </p>
    </div> <!-- tab-pane.// -->
    </div> <!-- tab-content .// -->

    </div> <!-- card-body.// -->
    </article> <!-- card.// -->


        <!--/aside--> <!-- col.// -->
    </div> <!-- row.// -->

    </div> 
    <!--container end.//-->


  </div>


 <footer> 
    &copy; Funding Flow &#8226; <i>Team 3 IBM Bootcamp</i>&#8226; 
    <a href="../index.html" target="_blank"><strong> Work on your craft!</strong></a>
 </footer>
</body>

</html>